ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.header > .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner {
  width: 1152px;
  margin: 0 auto;
}

.header__logo {
  padding: 23px 0px 23px 80px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 28px 20px 115px;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  width: 737px;
  height: 40px;
}

.nav__linkItem {
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  font-weight: normal;
  color: #000;
}

.is-home {
  color: #DAA520;
}

.is-signUp {
  padding: 9px 35px 9px 36px;
  border: 1px solid #3E3F43;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
}

.maincontents {
  height: 720px;
  width: 100%;
}

.maincontents__text-link {
  position: relative;
  left: 102px;
  top: 137px;
  width: 504px;
  height: 376px;
}

.maincontents__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.maincontents__text h2 {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 72px;
  line-height: 98px;
  margin: 0 0 16px 0;
}

.maincontents__text p {
  font-family: 'Nunito', sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 49px;
  margin: 0 0 16px 0;
}

.maincontents__link {
  background-color: #DAA520;
  padding: 14px 24px 14px 24px;
  border-radius: 4px;
  border: none;
  width: 175px;
  height: 50px;
}

.maincontents__linkItem {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #FFF;
  text-align: center;
}

.maincontents__image {
  position: absolute;
  top: 0;
  right: 0;
  left: 522px;
  margin: 0 auto;
  width: 630px;
  height: 800px;
}

.is-flower {
  position: absolute;
  top: 392px;
  left: -8px;
}

.is-table {
  position: absolute;
  top: 165px;
  left: 62px;
}

.maincontents__backColor-pink {
  position: absolute;
  top: 0;
  left: 260px;
  width: 100%;
  height: 800px;
  border-radius: 0 0 0 120px;
  background: #F9BDBD;
  z-index: -1;
  margin: 0 auto;
}

.section.about {
  position: relative;
  top: 120px;
  height: 950px;
  width: 100%;
}

.about__title {
  position: relative;
  left: 100px;
  width: 952px;
  height: 98px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__title .title-border {
  position: relative;
  display: inline-block;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  margin-left: 8px;
  padding-right: 50px;
}

.about__title .title-border::after {
  content: "";
  position: absolute;
  top: 49%;
  display: inline-block;
  width: 316px;
  height: 1px;
  background-color: #000;
}

.about__title .title-border::after {
  left: 220px;
}

.about__title .title-border {
  display: inline-block;
  padding-right: 330px;
}

.about__title h3 {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 72px;
  line-height: 98px;
  color: rgba(34, 34, 34, 0.1);
}

.about__main {
  position: relative;
  top: 40px;
  width: 100%;
  height: 388px;
  margin: 0 auto;
}

.about__mainImage.is-left {
  position: relative;
  top: 0;
  left: 100px;
  width: 278px;
  height: 388px;
  background: #F7DEA6;
  border: none;
  border-radius: 0 120px 0 120px;
}

.about__mainImage.is-left img {
  position: relative;
  top: 82px;
  left: 38px;
}

.is-left--flower {
  position: absolute;
  top: 246px;
}

.about__mainText.is-right {
  position: absolute;
  top: 104px;
  left: 604px;
  width: 448px;
  height: 180px;
}

.about__mainText.is-right .is-above {
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  color: #000;
  font-size: 36px;
  line-height: 49px;
  margin: 0;
}

.about__mainText.is-right .is-below {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  color: #000;
  font-size: 24px;
  line-height: 33px;
  margin-top: 16px;
}

.about__sub {
  position: absolute;
  top: 566px;
  width: 100%;
  height: 384px;
}

.about__subText {
  position: absolute;
  top: 127px;
  left: 100px;
  width: 655px;
  height: 131px;
}

.about__subText .is-above {
  position: relative;
  top: 0;
  left: 0;
  height: 49px;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-size: 36px;
  color: #000;
  margin: 0;
}

.about__subText .is-below {
  position: relative;
  top: 0;
  left: 0;
  height: 66px;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #000;
  line-height: 33px;
  margin-top: 16px;
}

.about__subImage.is-right {
  position: relative;
  top: 0px;
  left: 865px;
}

.section.howit {
  position: relative;
  top: 239px;
  height: 453px;
  width: 952px;
  margin: 0 auto;
}

.howit__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 952px;
  height: 98px;
}

.howit__title .title-border {
  position: relative;
  display: inline-block;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  margin-left: 8px;
  padding-right: 10px;
}

.howit__title .title-border::after {
  content: "";
  position: absolute;
  top: 49%;
  display: inline-block;
  width: 65px;
  height: 1px;
  background-color: #000;
}

.howit__title .title-border::after {
  left: 270px;
}

.howit__title .title-border {
  display: inline-block;
  padding-right: 83px;
}

.howit__title h3 {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 72px;
  color: rgba(34, 34, 34, 0.1);
}

.howit__main.is-grid {
  position: absolute;
  top: 163px;
  left: 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (238px)[4];
      grid-template-columns: repeat(4, 238px);
}

.grid__item {
  height: 177px;
}

.number {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 96px;
  color: rgba(249, 189, 189, 0.25);
  margin: 18.5px 0 27.5px 17px;
  width: 58px;
  height: 131px;
}

.item__image {
  position: absolute;
  top: 0px;
  margin: 0 0 57px 59px;
}

.item__name {
  position: absolute;
  top: 118px;
  width: 238px;
  height: 33px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.howit__link {
  position: absolute;
  bottom: 0px;
  left: 370px;
  background-color: #DAA520;
  padding: 14px 24px 14px 24px;
  border-radius: 4px;
  border: none;
  width: 212px;
  height: 50px;
}

.howit__linkItem {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #FFF;
  text-align: center;
}

.section.categories {
  position: relative;
  top: 360px;
  width: 952px;
  height: 978px;
  margin: 0 auto;
}

.categories__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 952px;
  height: 98px;
}

.categories__title .title-border {
  position: relative;
  display: inline-block;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  margin-left: 8px;
  padding-right: 220px;
}

.categories__title .title-border::after {
  content: "";
  position: absolute;
  top: 49%;
  display: inline-block;
  width: 202px;
  height: 1px;
  background-color: #000;
}

.categories__title .title-border::after {
  left: 259px;
}

.categories__title .title-border {
  display: inline-block;
  padding-right: 220px;
}

.categories__title h3 {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 72px;
  color: rgba(34, 34, 34, 0.1);
}

.categories__grid {
  position: absolute;
  top: 138px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (336px)[3];
      grid-template-columns: repeat(3, 336px);
  -ms-grid-rows: (440px)[2];
      grid-template-rows: repeat(2, 440px);
}

.grid__growp {
  width: 280px;
  height: 400px;
  border: none;
  border-radius: 0 120px 0 120px;
}

.is-pink {
  background: #F9BDBD;
}

.is-mustard {
  background: #F7DEA6;
}

.is-blue {
  background: #A8DCEC;
}

.is-pink {
  background: #F9BDBD;
}

.categories__name {
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  color: #3E3F43;
  font-size: 24px;
  text-align: left;
  margin: 24px 0 0 16px;
}

.categories__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: -59px;
  width: 280px;
  height: 400px;
}

.categories__image.is-desk {
  display: block;
  position: relative;
  top: 29px;
}

.buttonArea {
  position: relative;
  top: -459px;
  left: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 264px;
  height: 376px;
}

.categories__button {
  position: relative;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 125px;
  height: 40px;
  padding: 8px 18px 7px 19px;
  border: 1px solid #3E3F43;
  border-radius: 4px;
  background: none;
  font-size: 18px;
  color: #3E3F43;
  z-index: 1;
}

.section.testimony {
  position: relative;
  top: 481px;
  left: 0px;
  width: 952px;
  height: 489px;
  margin: 0 auto;
}

.testimony__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 952px;
  height: 98px;
}

.testimony__title .title-border {
  position: relative;
  display: inline-block;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  margin-left: 8px;
  padding-right: 10px;
}

.testimony__title .title-border::after {
  content: "";
  position: absolute;
  top: 45%;
  display: inline-block;
  width: 240px;
  height: 1px;
  background-color: #000;
}

.testimony__title .title-border::after {
  left: 258px;
}

.testimony__title .title-border {
  display: inline-block;
  padding-right: 255px;
}

.testimony__title h3 {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 72px;
  color: rgba(34, 34, 34, 0.1);
}

.testimony__grid {
  position: relative;
  top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (280px)[3];
      grid-template-columns: repeat(3, 280px);
  width: 952px;
  height: 320px;
}

.testimony__grid .testimony__image {
  position: relative;
  top: -8px;
  left: -8px;
}

.swiper-container {
  border: 1px solid #A8DCEC;
  border-radius: 0 80px 0 80px;
  position: absolute;
  top: 0;
  left: 8px;
  width: 384px;
  height: 280px;
  z-index: 1;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  background: #C4C4C4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  background-image: none;
  width: 120px;
  height: 96px;
  margin-top: -43px;
}

.swiper-button-prev:before {
  content: url(images/Arrow.svg);
  font-size: 14px;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.swiper-button-next:before {
  content: url(images/Arrow.svg);
  font-size: 14px;
}

.swiper-outer {
  position: absolute;
  top: 169px;
  left: 560px;
  width: 400px;
  height: 280px;
}

.swiper-pagination {
  position: relative;
  top: 164px;
  left: 50%;
  right: 50%;
  width: 184px;
}

.swiper-pagination-bullet {
  display: inline-block;
  width: 40px;
  height: 8px;
  border-radius: 8px;
  margin: 8px;
}

.section.subscribe {
  position: relative;
  top: 597px;
  left: -100px;
  width: 952px;
  height: 174px;
  margin: 0 auto;
}

.subscribe__title {
  position: absolute;
  top: 53px;
  left: 107px;
  width: 496px;
  height: 69px;
}

.title.is-above {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin: 2px 0 0 0;
}

.title.is-below {
  font-family: 'Nunito', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin: -2px 0 0 0;
}

.subscribe__addForm {
  position: absolute;
  top: 70px;
  left: 600px;
  width: 456px;
  height: 41px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.addForm.email {
  width: 330px;
  height: 40px;
  background: #FFF;
  border: 1px solid #DAA520;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px 0 0 4px;
  padding-left: 14px;
  font-size: 16px;
}

.addForm.submit {
  position: absolute;
  left: 328px;
  width: 120px;
  height: 40px;
  background: #DAA520;
  color: #FFF;
  border: none;
  border-radius: 0 4px 4px 0;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.footer::before {
  content: "";
  position: relative;
  top: 12%;
  display: block;
  width: 702.3px;
  height: 1px;
  background-color: #C4C4C4;
  margin: auto;
}

.footer::before {
  left: -115px;
}

.footer {
  display: inline-block;
  position: relative;
  top: 600px;
  width: 100%;
  height: 281px;
}

.footer__block {
  position: relative;
  top: 0px;
  left: -1px;
  width: 815px;
  height: 138px;
}

.footer__logo {
  position: relative;
  top: 58px;
  left: 107px;
}

.footer__info {
  position: relative;
  top: 31px;
  left: 53px;
  width: 192px;
  height: 138px;
}

.footer__list {
  margin: 10px 0 10px 0;
}

.is-link {
  font-family: 'Nunito', sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #3E3F43;
}

.head.is-link {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.footer__product {
  position: absolute;
  top: 56px;
  left: 351px;
}

.footer__resources {
  position: absolute;
  top: 56px;
  left: 467px;
}

.footer__company {
  position: absolute;
  top: 56px;
  left: 604px;
}

.footer__follow {
  position: absolute;
  top: 56px;
  left: 735px;
}

.footer__background {
  position: absolute;
  top: -173px;
  width: 1152px;
  z-index: -5;
}

.small {
  display: block;
  position: relative;
  top: 559px;
  left: 3px;
  width: 110px;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #3E3F43;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */