//$c string
$cBlack:#000;
$clight-Black:#3E3F43;
$cGray:#222;
$cDark-gray:rgba(34, 34, 34, 0.1);
$clight-Pink:rgba(249, 189, 189, 0.25);
//$c background
$cMustard:#DAA520;
$cBlue:#A8DCEC;
$clight-Mustard:#F7DEA6;
//$c border-line
$cDark-White:#C4C4C4;
$clight-Gray:#3E3F43;
//$c common
$cPink:#F9BDBD;
$cWhite:#FFF;

//commonItem
@mixin font ($fweight) {
  font-family: 'Nunito', sans-serif;
  font-weight: $fweight;
}
ul,li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
//header-Area

.header > .inner {
  display: flex;
}

.inner {
  width: 1152px;
  margin: 0 auto;
}

.header__logo {
  padding: 23px 0px 23px 80px;
}

.nav {
  display: flex;
  align-items: center;
  padding: 20px 28px 20px 115px;
}

.nav__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  width: 737px;
  height: 40px;
}

.nav__linkItem {
  font-size: 16px;
  @include font( normal );
  color: $cBlack;
}

.is-home {
  color: $cMustard;
}

.is-signUp {
  padding: 9px 35px 9px 36px;
  border: 1px solid $clight-Gray;
  box-sizing: border-box;
  border-radius: 8px;
}

//maincontents-Area
.maincontents {
  height: 720px;
  width: 100%;
}

.maincontents__text-link {
  position: relative;
  left: 102px;
  top: 137px;
  width: 504px;
  height: 376px;
}

.maincontents__text {
  display: flex;
  flex-direction: column-reverse;

  & h2 {
    @include font( bold );
    font-size: 72px;
    line-height: 98px;
    margin: 0 0 16px 0;
  }
  & p {
    @include font( normal );
    font-size: 36px;
    line-height: 49px;
    margin: 0 0 16px 0;
  }
}

.maincontents__link {
  background-color: $cMustard;
  padding: 14px 24px 14px 24px;
  border-radius: 4px;
  border: none;
  width: 175px;
  height: 50px;
  
  &Item {
    @include font( 600 );
    font-size: 16px;
    color: $cWhite;
    text-align:center;
  }
}

.maincontents__image {
  position: absolute;
  top: 0;
  right: 0;
  left: 522px;
  margin: 0 auto;
  width: 630px;
  height: 800px;
}

.is-flower {
  position: absolute;
  top: 392px;
  left: -8px;
}

.is-table {
  position: absolute;
  top: 165px;
  left: 62px;
}

.maincontents__backColor-pink {
  position: absolute;
  top: 0;
  left: 260px;
  width: 100%;
  height: 800px;
  border-radius: 0 0 0 120px;
  background: $cPink;
  z-index: -1;
  margin: 0 auto;
}



//section about-Area
.section.about {
  position: relative;
  top: 120px;
  height: 950px;
  width: 100%;
}

.about__title {
  position: relative;
  left:100px;
  width: 952px;
  height: 98px;
  display: flex;
  align-items: center;

  & .title-border {
    position: relative;
    display: inline-block;
    @include font( bold );
    font-size: 36px;
    line-height: 49px;
    margin-left: 8px;
    padding-right: 330px;
  }

  & .title-border::after {
    content: "";
    position: absolute;
    top: 49%;
    display: inline-block;
    width: 316px;
    height: 1px;
    background-color: $cBlack;
    left: 220px;
  }

  & h3 {
    @include font( bold );
    font-size: 72px;
    line-height: 98px;
    color: $cDark-gray;
  }
}

.about__main {
  position: relative;
  top: 40px;
  width: 100%;
  height: 388px;
  margin: 0 auto;
}

.about__mainImage.is-left {
  position: relative;
  top: 0;
  left: 100px;
  width: 278px;
  height: 388px;
  background: $clight-Mustard;
  border: none;
  border-radius: 0 120px 0 120px;

  & img {
    position: relative;
    top: 82px;
    left: 38px;
  }
}

.is-left--flower {
  position: absolute;
  top: 246px;
}

.about__mainText.is-right {
  position: absolute;
  top: 104px;
  left: 604px;
  width: 448px;
  height: 180px;
  
  & .is-above {
    @include font( 500 );
    color: $cBlack;
    font-size: 36px;
    line-height: 49px;
    margin: 0;
  }
  
  & .is-below {
    @include font( 600 );
    color: $cBlack;
    font-size: 24px;
    line-height: 33px;
    margin-top: 16px;
  }
}

.about__sub {
  position: absolute;
  top: 566px;
  width: 100%;
  height: 384px;
}

.about__subText {
  position: absolute;
  top: 127px;
  left: 100px;
  width: 655px;
  height: 131px;

  & .is-above {
    position: relative;
    top: 0;
    left: 0;
    height: 49px;
    @include font( 500 );
    font-size: 36px;
    color: $cBlack;
    margin: 0;
  }

  & .is-below {
    position: relative;
    top: 0;
    left: 0;
    height: 66px;
    @include font( 600 );
    font-size: 24px;
    color: $cBlack;
    line-height: 33px;
    margin-top: 16px;
  }
}

.about__subImage.is-right {
  position: relative;
  top: 0px;
  left: 865px;
}

//section howit-Area
.section.howit {
  position: relative;
  top: 239px;
  height: 453px;
  width: 952px;
  margin: 0 auto;
}

.howit__title {
  display: flex;
  align-items: center;
  width: 952px;
  height: 98px;
  
  & .title-border {
    position: relative;
    display: inline-block;
    @include font( bold );
    font-size: 36px;
    line-height: 49px;
    margin-left: 8px;
    padding-right: 83px;
  }
  
  & .title-border::after {
    content: "";
    position: absolute;
    top: 49%;
    display: inline-block;
    width: 65px;
    height: 1px;
    background-color: $cBlack;
    left: 270px;
  }
  
  & h3 {
    @include font( bold );
    font-size: 72px;
    color: $cDark-gray;
  }
}

.howit__main.is-grid {
  position: absolute;
  top: 163px;
  left: 0px;
  display: grid;
  grid-template-columns:repeat(4, 238px);
}

.grid__item {
  height: 177px;
}

.number {
  @include font( 600 );
  font-size: 96px;
  color: $clight-Pink;
  margin: 18.5px 0 27.5px 17px;
  width: 58px;
  height: 131px;
}

.item__image {
  position: absolute;
  top: 0px;
  margin: 0 0 57px 59px;
}

.item__name {
  position: absolute;
  top: 118px;
  width: 238px;
  height: 33px;
  @include font( bold );
  font-size: 24px;
  text-align: center;
}

.howit__link {
  position: absolute;
  bottom: 0px;
  left: 370px;
  background-color: $cMustard;
  padding: 14px 24px 14px 24px;
  border-radius: 4px;
  border: none;
  width: 212px;
  height: 50px;
  
  &Item {
    @include font( 600 );
    font-size: 16px;
    color: $cWhite;
    text-align:center;
  }
}


//section what we have-Area
.section.categories {
  position: relative;
  top: 360px;
  width: 952px;
  height: 978px;
  margin: 0 auto;
}

.categories__title {
  display: flex;
  align-items: center;
  width: 952px;
  height: 98px;

  & .title-border {
    position: relative;
    display: inline-block;
    @include font( bold );
    font-size: 36px;
    line-height: 49px;
    margin-left: 8px;
    padding-right: 220px;
  }

  & .title-border::after {
    content: "";
    position: absolute;
    top: 49%;
    display: inline-block;
    width: 202px;
    height: 1px;
    background-color: $cBlack;
    left: 259px;
  }
  
  & h3 {
    @include font( bold );
    font-size: 72px;
    color: $cDark-gray;
  }
}


.categories__grid {
  position: absolute;
  top: 138px;
  display: grid;
  grid-template-columns:repeat(3, 336px);
  grid-template-rows:repeat(2, 440px);
}

.grid__growp {
  width: 280px;
  height: 400px;
  border: none;
  border-radius: 0 120px 0 120px;
}

.is-pink {
  background: $cPink;
}
.is-mustard {
  background: $clight-Mustard;
}
.is-blue {
  background: $cBlue;
}
.is-pink {
  background: $cPink;
}

.categories__name {
  @include font( 800 );
  color: $clight-Black;
  font-size: 24px;
  text-align: left;
  margin: 24px 0 0 16px;
}

.categories__image {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -59px;
  width: 280px;
  height: 400px;
}

.categories__image.is-desk {
  display: block;
  position: relative;
  top: 29px;
}

.buttonArea {
  position: relative;
  top: -459px;
  left: 1px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 264px;
  height: 376px;
}

.categories__button {
  position: relative;
  @include font( 600 );
  box-sizing: border-box;
  width: 125px;
  height: 40px;
  padding: 8px 18px 7px 19px;
  border: 1px solid $clight-Black;
  border-radius: 4px;
  background: none;
  font-size: 18px;
  color: $clight-Black;
  z-index: 1;
}

//section testimony
.section.testimony {
  position: relative;
  top: 481px;
  left: 0px;
  width: 952px;
  height: 489px;
  margin: 0 auto;
}

.testimony__title {
  display: flex;
  align-items: center;
  width: 952px;
  height: 98px;
  
  & .title-border {
    position: relative;
    display: inline-block;
    @include font( bold );
    font-size: 36px;
    line-height: 49px;
    margin-left: 8px;
    padding-right: 255px;
  }
  
  & .title-border::after {
    content: "";
    position: absolute;
    top: 45%;
    display: inline-block;
    width: 240px;
    height: 1px;
    background-color: $cBlack;
    left: 258px;
  }
  
  & h3 {
    @include font( bold );
    font-size: 72px;
    color: $cDark-gray;
  }
}

.testimony__grid {
  position: relative;
  top: 40px;
  display: grid;
  grid-template-columns:repeat(3, 280px);
  width: 952px;
  height: 320px;

  & .testimony__image {
    position: relative;
    top: -8px;
    left: -8px;
  }
}


//JS-SWIPER
.swiper-container {
  border: 1px solid $cBlue;
  border-radius: 0 80px 0 80px;
  position: absolute;
  top: 0;
  left: 8px;
  width: 384px;
  height: 280px;
  z-index: 1;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  background: $cDark-White;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  background-image: none;
  width: 120px;
  height: 96px;
  margin-top: -43px;
}

.swiper-button-prev:before {
  content: url(images/Arrow.svg);
  font-size: 14px;
  transform:scaleX(-1);
}

.swiper-button-next:before {
  content:  url(images/Arrow.svg);
  font-size: 14px;
}

.swiper-outer {
  position: absolute;
  top: 169px;
  left: 560px;
  width: 400px;
  height: 280px;
}
.swiper-pagination {
  position: relative;
  top: 164px;
  left: 50%;
  right: 50%;
  width: 184px;
}
.swiper-pagination-bullet {
  display: inline-block;
  width: 40px;
  height: 8px;
  border-radius: 8px;
  margin: 8px;
}
//end

.section.subscribe {
  position: relative;
  top: 597px;
  left: -100px;
  width: 952px;
  height: 174px;
  margin: 0 auto;
}

.subscribe__title {
  position: absolute;
  top: 53px;
  left: 107px;
  width: 496px;
  height: 69px;
}

.title.is-above {
  @include font( bold );
  font-size: 18px;
  margin: 2px 0 0 0;
}

.title.is-below {
  @include font( normal );
  font-size: 16px;
  line-height: 22px;
  margin: -2px 0 0 0;
}

.subscribe__addForm {
  position: absolute;
  top: 70px;
  left: 600px;
  width: 456px;
  height: 41px;
  box-sizing: border-box;
}
.addForm.email {
  width: 330px;
  height: 40px;
  background: $cWhite;
  border: 1px solid $cMustard;
  box-sizing: border-box;
  border-radius: 4px 0 0 4px;
  padding-left: 14px;
  font-size: 16px;
}
.addForm.submit {
  position: absolute;
  left: 328px;
  width: 120px;
  height: 40px;
  background: $cMustard;
  color: $cWhite;
  border: none;
  border-radius: 0 4px 4px 0;
  @include font( 600 );
  font-size: 16px;
}


//footer
.footer::before {
  content: "";
  position: relative;
  top: 12%;
  display: block;
  width: 702.3px;
  height: 1px;
  background-color: $cDark-White;
  margin: auto;
  left: -115px;
}

.footer {
  display: inline-block;
  position: relative;
  top: 600px;
  width: 100%;
  height:281px;
}

.footer__block {
  position: relative;
  top: 0px;
  left: -1px;
  width: 815px;
  height: 138px;
}

.footer__logo {
  position: relative;
  top: 58px;
  left: 107px;
}

.footer__info {
  position: relative;
  top: 31px;
  left: 53px;
  width: 192px;
  height: 138px;
}

.footer__list {
  margin: 10px 0 10px 0;
}

.is-link {
  @include font( normal );
  font-size: 14px;
  color: $clight-Gray;
}

.head.is-link {
  @include font( 300 );
  font-size:18px;
}

.footer__product {
  position: absolute;
  top: 56px;
  left: 351px;
}
.footer__resources {
  position: absolute;
  top: 56px;
  left: 467px;
}
.footer__company {
  position: absolute;
  top: 56px;
  left: 604px;
}
.footer__follow {
  position: absolute;
  top: 56px;
  left: 735px;
}

.footer__background {
  position: absolute;
  top: -173px;
  width: 1152px;
  z-index: -5;
}

.small {
  display: block;
  position: relative;
  top: 559px;
  left: 3px;
  width: 110px;
  @include font( 400 );
  font-size: 12px;
  color: $clight-Gray;
  margin: 0 auto;
}